

/* GLOBAL STYLES
    -------------------------------------------------- */
    /* Padding below the footer and lighter body text */

    body {
      padding-bottom: 40px;
      color: #5a5a5a;
    }


    .nav-link {
      font-size: 1.5rem;
    }
    .lead {
      font-size: 1rem;
    }
    /* CUSTOMIZE THE NAVBAR
    -------------------------------------------------- */

    /* Special class on .container surrounding .navbar, used for positioning it into place. */
    .navbar-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 10;
      margin-top: 20px;
      margin-bottom: -90px; /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
      background-color: rgba(0, 102, 204, 0.05);
    }
   
    /* Remove border and change up box shadow for more contrast */
    .navbar .navbar-inner {
      border: 0; 
    }

  

    /* Navbar links: increase padding for taller navbar */
    .navbar .nav > li > a {
      padding: 15px 20px;
    }

    /* Offset the responsive button for proper vertical alignment */
    .navbar .btn-navbar {
      margin-top: 10px;
    }


    .navbar {
      background-color: rgba(0, 102, 204, 0.25);;
    }

   


    /* RESPONSIVE CSS
    -------------------------------------------------- */




    .messages {
      margin-left: 25%;
      font-weight: bold;
    }

    textarea {
      width: 90%;
      height: 400px;
 }