{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <div class="col-2"></div>
        <div class="col-5">
            <h3>About This Site</h3>
            <p>
                This website houses tools that I use when I write. I built it for my own use, but if others find it
                helpful, all the better. This page explains what the tools are and how to use them.
            </p>
            <h3>Weasel Words</h3>
            <p>
                A writing instructor introduced me to the idea of <a href="https://en.wikipedia.org/wiki/Weasel_word">weasel words</a>. These are words that 
                enable, accompany or promote bad writing.  They add little to your prose and suck vitality away. In 
                general, I try to avoid using them when I can.
            </p>
            <p>
                Use the tool on the <a href='/'>home page</a> of this site to find weasel words in your prose.   If you paste text into the supplied web form 
                and press <em>submit</em>, the site will create a report on how often you used each of the weasel words
                (and where in your text they appeared). 
            </p>
            <p>
                A few notes are important before you use the weasel words tool. First, weasel words aren't always bad to use. 
                If you think a weasel word is helping you make your case, go with God and keep in place.  How you
                use the weasel word list is up to you.
            </p>
            <p>
                Second, there are a few technical details people should know.  First, since this is a hobby site, 
                its underlying technology is modest. If you find that the site is unavailable, try again later. Also,
                to make the software faster, we made a few simplifications in how we count weasel words.  In the majority
                of cases, your counts will be exactly correct.  But there are some edge cases where a count might be one 
                or two off. The longer your input text, the more likely your counts might be off by one. 
            </p>
            <p>
                The list of weasel words this site relies on was given to me by a writing instructor. Obviously, weasel word status 
                is subjective. In a future version of this site I would like to let users supply their own weasel words. But 
                for now, I hope you like this list. Feel free to send requests for weasel word additions to the email at the 
                bottom of this page, though I'm not in the market to grow the list.
            </p>
            <p>
                One final point, I am aware that there are <a href="https://www.textcompare.org/readability/weasel-words/">other tools</a> 
                that work similarly to this this one. By all means, check those out, too.
            </p>

            <h3>Word Stats</h3>
            <p>
                Sometimes it is useful to get a high-level view of your writing. The <a href="stats">stats</a> page  
                houses a simple tool that aims to do just this. Pasting text and submitting the form will give you a listing 
                of which words you have used frequently. This can help you identify words you over-use.
            </p>
            <p>
                One thing to note about the output of the word stats tool: you will only get back data about words you used
                at least <em>TWICE</em> in your text. Most words in any text occur just once, and from the standpoint of 
                tool, these singletons aren't very interesting. 
            </p>

            <h3>Latinate Words</h3>
            <p>
                Latinate words tend to sound snooty and pretentious. To help you consider (often germanic) replacements 
                for latinate words, <a href="latinate">latinate word tool</a> checks your prose against a list of about 
                300 latinate words. For each latinate word the tool finds, it reports on how often you used it, which of 
                your sentences contain it. It also suggests alternative words.
            </p>
            <h3>Notes about this Website</h3>
            <p>
                The tools offered here cap pasted text at 30,000 characters. That should suffice for most short stories.
                If your essay, story, novel, or whatever is longer than that limit, just submit it in batches. I have not
                tested this site on text with odd encodings, non-Western alphabets, or in languages other than English. 
                Since behind the scenes, everything is UTF-8-encoded, things <em>should</em> work under a broad spectrum
                of scenarios. But your mileage may vary.
            </p>
            <p>
                As mentioned above, this is a hobby website. I built it for my own use. Maybe other people will use it too.
                If you like the site, please drop an email to <code>reach.weasel.words AT gmail</code>. At some point I may
                put ads on the site to defray costs, but for now it is cheap enough to offer gratis.
            </p>
            <p>
                I am an amateur writer, specializing in horror fiction.
            </p>
           
        </div>
        <div class="col-1"></div>
        <div class="col">
            <h4>The weasel words</h4>
            {% for word in weasel_words %}
             {{ word }}<br/>
            {% endfor %}

        </div>
    </div>
</div>
{% endblock %}