{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <div class="col-2"></div>
        <div class="col-5">
            <p>
                A writing instructor introduced me to the idea of <em>weasel words</em>. These are words that often
                enable, accompany or promote bad writing.  They add little to your prose and suck vitality away. In 
                general, I try to avoid using them when I can.
            </p>
            <p>
                This website houses a simple tool to help writers find weasel words in their prose.  On the 
                <a href="/">home page</a> of this site is a web form.  If you paste text into that form 
                and press <em>submit</em>, the site will create a report on how often you used each of the weasel words
                (and where in your text they appeared). 
            </p>
            <p>
                A few notes are important before you use this site. First, weasel words aren't always bad to use. 
                If you think a weasel word is helping you make your case, go with God and keep in place.  How you
                use the weasel word list is up to you.
            </p>
            <p>
                Second, there are a few technical details people should know.  First, since this is a hobby site, 
                its underlying technology is modest. If you find that the site is unavailable, try again later. Also,
                to make the software faster, we made a few simplifications in how we count weasel words.  In the majority
                of cases, your counts will be exactly correct.  But there are some edge cases where a count might be one 
                or two off. The longer your input text, the more likely your counts might be off by one. 
            </p>
           
        </div>
        <div class="col-1"></div>
        <div class="col">
            <h4>The weasel words</h4>
            {% for word in weasel_words %}
             {{ word }}<br/>
            {% endfor %}

        </div>
    </div>
</div>
{% endblock %}