{% extends 'base.html' %}
{% block content %}
<div class="row">
    <div class="col">
            <p class="slug">
                Weasel words don't add much to your prose. Instead of action and immediacy, they give blandness and 
                flab. This tool lists which weasel words you used, how often you used them, and which sentences in 
                your text contain weasel words. The list of weasel words we track is shown on the right of this page.
            </p>
    </div>
</div>

    <div class="row">
        <div class="col-2"></div>
        <div class="col-5">
            <h4>Weasel Words Finder</h4>
            Paste your text here (max 30,000 chars)
            <br/>
            <form action="analyze", method="post">
                {{ form.csrf_token}}
                {{ form.text() | safe }}
                <br/>
                {{ form.submit }}
            </form>    
           
        </div>
        <div class="col-1"></div>
        <div class="col">
            <h4>The weasel words</h4>
            {% for word in weasel_words %}
             {{ word }}<br/>
            {% endfor %}

        </div>
    </div>
</div>
{% endblock %}