{% extends 'base.html' %}
{% block content %}

<div class="row">
    <div class="col">
            <p class="slug">
                This tool shows which words you use most often. It lists each word your 
                prose contains and how often you used it. Results are listed decreasing order of frequency, along
                with, for each word, an enumeration of each sentence containing that word. The report only includes words that 
                appear at least twice in your text.
            </p>
    </div>
</div>

    <div class="row">
        <div class="col-2"></div>
        <div class="col-5">
            <h4>Word Stats Tool</h4>
            Paste your text here (max 30,000 chars)
            <br/>
            <form action="stats", method="post">
                {{ form.csrf_token}}
                {{ form.text() | safe }}
                <br/>
                {{ form.submit }}
            </form>    
           
        </div>
        <div class="col-1"></div>
        <div class="col">
        </div>
    </div>
</div>
{% endblock %}